@font-face {
  font-family: 'YS Text';
  src: 
  url(../Fonts/YandexSansText-Thin.woff) format('woff'),
  url(../Fonts/YandexSansText-Thin.woff2) format('woff2');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: 
  url(../Fonts/YandexSansText-Light.woff) format('woff'),
  url(../Fonts/YandexSansText-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: 
  url(../Fonts/YandexSansText-Regular.woff) format('woff'),
  url(../Fonts/YandexSansText-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: 
  url(../Fonts/YandexSansText-Medium.woff) format('woff'),
  url(../Fonts/YandexSansText-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: 
  url(../Fonts/YandexSansText-Bold.woff) format('woff'),
  url(../Fonts/YandexSansText-Bold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: 
  url(../Fonts/YandexSansText-Bold900.woff) format('woff'),
  url(../Fonts/YandexSansText-Bold900.woff2) format('woff2');
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YandexSans';
  src: local('YandexSans'); 
  font-weight: 700;
  font-style: normal;
}

@font-face { 
  font-family: "YandexSansBold";
  src: url("../fonts/YandexSansBold/YandexSansBold.eot");
  src: url("../fonts/YandexSansBold/YandexSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/YandexSansBold/YandexSansBold.woff") format("woff"),
  url("../fonts/YandexSansBold/YandexSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-light.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}