.footer {
  background-color: #fff;
  border-radius: 56px 56px 0 0;
}

.footer__copyright {
  padding: 56px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 600;
}

.footer__text {
  font-size: 13px;
  line-height: 16px;
  color: #21201f;
  max-width: 600px;
  margin-bottom: 20px;
}
.copyright {
  font-size: 13px;
  line-height: 16px;
  color: #21201f;
}